<app-header></app-header>
<br />
<br />
<div class="top-fixed p-3 pt-4">
    <span class="h4">{{groupName}}</span>
    <button class="btn btn-dark float-right mr-2" (click)="addUser()">Add Member</button>
</div>
<br />
<br />
<br />
<div class="list-group-flush layout centerize">
    <div *ngFor="let user of usersInGroup" class="list-group-item action">
        <p class="mb-0 p-3"><span class="h5" style="vertical-align:middle">{{user.firstName}} {{user.lastName}}</span>
        </p>
    </div>
</div>
<br />
<ng-template #userModal let-close="close">

    <div class="modal-header">
        <h5 class="modal-title">Users</h5>
        <button type="button" class="close" id="close_button" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" style="height:600px">
        <ul class="list-group list-group-flush">
            <li *ngFor="let user of usersNotInGroup" class="list-group-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input users-checkbox" id="user_{{user.userId}}"
                        value="{{user.userId}}">
                    <label class="custom-control-label" for="user_{{user.userId}}">{{user.firstName}}
                        {{user.lastName}}</label>
                </div>
            </li>
        </ul>


    </div>

    <div class="modal-footer">

        <button ngbAutofocus type="button" class="btn btn-dark" (click)="addUsers(close)">
            Add
        </button>

        <div *ngIf="addInd" class="spinner-border" role="status"> </div>

    </div>

</ng-template>