.password-link {
    color: black;
}

.password-link:hover {
    text-decoration-color:gray;
}

.modal {
    overflow: hidden;
}

.layout {
    border-radius: 10px 10px 10px 10px;
    padding: 4% 0%;
    width:90%;
    height: 80%;
    max-width: 450px;
    max-height: 450px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    overflow: auto;
  }
